// Place all the styles related to the calculations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calculation {
	position: relative;
	display: block;
	margin-left: 130px;
	width: 40%;
	height: auto;
	padding: 20px;
	background-color: rgba(255,255,255,0.4);

}

.calculation table {
	background: white;
	width: 100%;
}

.calculation td {
	height: 30px;
}

.table-once {
	margin-top: 20px;
}

.calculation th {
	width: 50%;
	background: #87cefa;
	padding: 10px;
}

.calculation td {
	padding-left: 10px;
}

.new-box {
	width: 100%;
	border: 1px solid black;
}

.calculation-input {
	width: 80%;
	height: 20px;
	border: 1px solid blue;
}

